{% extends 'ptt_movie/base.html' %}
{% block title %}錯誤 - 電影溫度計 {% endblock %}
{% block page_heading %}
          <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
			<h4 class="h3 mb-0 text-gray-800" style="font-family: 微軟正黑體"></h4>
          </div>
{% endblock %}
{% block content %}
          <!-- 404 Error Text -->
          <div class="text-center mb-4">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-3">Page Not Found</p>
			{% if return_message%}
            <h4 class="text-gray-500 mb-4">{{ return_message }}</h4>
			{% else %}
			{% endif %}
            <a href="#" onClick="javascript :history.back(-1);">&larr; Back to Last Page</a>
          </div>
{% endblock %}