<!-- header.html -->
{% load static %}
<div class="card">
    <div class="card-header">
		<h3 class="mt-2 ml-2" style="font-family: 微軟正黑體;">
			<a class='text-dark' href='/' style="text-decoration:none;">
				Ptt 電影溫度計
				<small class="text-muted">With Database、Crawler、Keyword Search</small>
			</a>
		</h3>
        <!--<img src="{% static 'images/logo.png' %}"  class="col-sm-3" alt="...">-->
        <!--<h1 class="row align-items-center" style="font-family: 微軟正黑體;">歡迎光臨 My blog</h1>-->
    </div>
</div>