<!-- index.html-->
{% extends 'ptt_movie/base.html' %}
{% load crispy_forms_tags %}
{% block title %} 熱門電影 - Ptt電影溫度計{% endblock %}
{% block headmessage %}
	<h4 style="font-family: 微軟正黑體">熱門電影</h4>
{% endblock %}
{% block content %}
				<div class="col-10 ml-2">
					<!--
					<h3 style="font-family: 微軟正黑體">
						  歡迎來到電影溫度計
					</h3>-->
					
					<h4 class="mt-3">熱門討論電影<h4>
					<hr class="mt-0 mb-4">
					<div class='ml-3'>
						<ul>
							<li>
								<h5 class="mt-3">近1周<h4>
							</li>
							<li>
								<h5 class="mt-3">近1月<h4>
							</li>
						</ul>
					</div>
					
					<h4 class="mt-5">電影文章數<h4>
					<hr class="mt-0 mb-4">
					<div class='ml-3'>
						<ul>
							<li>
								<h5 class="mt-3">近1周<h4>
							</li>
							<li>
								<h5 class="mt-3">近1月<h4>
							</li>
						</ul>
					</div>
					
					{{ data_of_7_days }}
				</div>
{% endblock %}