<!-- keyword.html-->

{% extends 'ptt_movie/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{key}} - Ptt電影溫度計 {% endblock %}
{% block head %}
{% endblock %}

{% block page_heading %}
		<div class="row ml-2">
		  <button onClick="javascript :history.back(-1);" class="btn btn-link rounded-circle border-0 mr-3 mb-4">
			<i class="fa fa-arrow-left"></i>
		  </button>
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h4 class="h3 mb-0 text-gray-800" style="font-family: 微軟正黑體">關鍵字數據</h4>
          </div>
		</div>
{% endblock %}

{% block content %}


				  <div class="row" style="font-family: 微軟正黑體">
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-6 col-md-4 mb-4">
					  <div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-success text-uppercase mb-1"><i class="fas fa-fw fa-search mr-2"></i>關鍵字</div>
							  <div class="h4 font-weight-bold text-gray-800 mb-0"></div>
							</div>
							<div class="col-auto">
							  <span style="font-family: 微軟正黑體" class="h4 pl-2 mb-0 font-weight-bold text-gray-800">{{key}}</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-3 col-md-4 mb-4">
					  <div class="card border-left-info shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-info text-uppercase mb-1"><i class="fas fa-fw fa-calculator mr-2"></i>評分</div>
							  <div class="h4 font-weight-bold text-gray-800 mb-0 "></div>
							</div>
							<div class="col-auto">
							  <span style="font-family: 微軟正黑體" class="h4 pl-2 mb-0 font-weight-bold text-gray-800">{{ data.f_score }}</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-3 col-md-4 mb-4">
					  <div class="card border-left-warning shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-warning text-uppercase mb-1"><i class="fas fa-fw fa-pencil-alt mr-2"></i>評比</div>
							  <div class="h4 mb-0 font-weight-bold text-gray-800"></div>
							</div>
							<div class="col-auto">
							  <span style="font-family: 微軟正黑體" class="h4 pl-2 mb-0 font-weight-bold text-gray-800">{{ data.g_comment }}</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  
			<div style="font-family: 微軟正黑體;" class="row row-eq-height">
				<div class="col-xl-8 col-lg-8">

				<!-- Content Row -->
				  <div class="row" style="font-family: 微軟正黑體">
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-6 col-md-6 mb-4">
					  <div class="card border-left-info shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-info mb-1"><i class="far fa-fw fa-edit mr-2"></i>文章數</div>
							  <div class="h4 font-weight-bold text-gray-800 text-uppercase mb-0"></div>
							</div>
							<div class="col-auto">
							  <span style="font-family: 微軟正黑體" class="h4 pl-2 mb-0 font-weight-bold text-gray-800">{{ data.b_article }}</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>

					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-6 col-md-6 mb-4">
					  <div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-success text-uppercase mb-1"><i class="far fa-fw fa-comments mr-2"></i>討論數</div>
							  <div class="h4 font-weight-bold text-gray-800 mb-0 "></div>
							</div>
							<div class="col-auto">
							  <span style="font-family: 微軟正黑體" class="h4 pl-2 mb-0 font-weight-bold text-gray-800">{{ data.c_discussion }}</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>	


				  <div class="row" style="font-family: 微軟正黑體">
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-12 col-md-12 mb-4">
					  <div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-primary text-uppercase mb-1"><i class="far fa-fw fa-thumbs-up mr-2"></i>好評數</div>
							  <div class="h4 mb-0 font-weight-bold text-gray-800"></div>
							</div>
							<div class="col-auto">
							  <span style="font-family: 微軟正黑體" class="h4 pl-2 mb-0 font-weight-bold text-gray-800">{{ data.d_good }}</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>	
				  <div class="row" style="font-family: 微軟正黑體">
					<div class="col-xl-12 col-md-12 mb-4">
					  <div class="card border-left-danger shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-danger mb-1"><i class="far fa-fw fa-thumbs-down mr-2"></i>負評數</div>
							  <div class="h4 font-weight-bold text-gray-800 text-uppercase mb-0"></div>
							</div>
							<div class="col-auto">
							  <span style="font-family: 微軟正黑體" class="h4 pl-2 mb-0 font-weight-bold text-gray-800">{{ data.e_bad }}</span>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>	
				  
				<div class="row" style="font-family: 微軟正黑體">
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-6 col-md-6 mb-4">
					  <div class="card border-left-info shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-info text-uppercase mb-1"><i class="far fa-fw fa-calendar mr-2"></i>周圖表</div>
							  <div class="h4 font-weight-bold text-gray-800 mb-0 "></div>
							</div>
							<div class="col-auto">
							  <a href='/week/{{key}}'><i class="fas fa-fw fa-chart-area fa-2x text-info"></i></a>
							</div>
						  </div>
						</div>
					  </div>
					</div>

					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-6 col-md-6 mb-4">
					  <div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
						  <div class="row no-gutters align-items-center">
							<div class="col mr-2">
							  <div class="h4 font-weight-bold text-success text-uppercase mb-1"><i class="far fa-fw fa-calendar-alt mr-2"></i>月圖表</div>
							  <div class="h4 mb-0 font-weight-bold text-gray-800"></div>
							</div>
							<div class="col-auto">
							  <a href='/month/{{key}}'><i class="fas fa-fw fa-chart-area fa-2x text-success"></i></a>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>

				</div>
				<div class="col-xl-4 col-lg-4 mb-4">
					<div class="card shadow h-100">
						<div class="card-header py-3">
							<h4 class="m-0 font-weight-bold text-primary">評價</h4>
						</div>
						<div class="card-body">
							{% if data.d_good|add:data.e_bad < 10 %}
							<div class="row chart-pie align-items-center">
								<div class="col"> 
									<div class="h5 text-center font-weight-bold text-gray-800">評分數據尚且不足</div>
								</div>
							</div>
							{% else %}
							<div class="chart-pie pt-4 pb-2">
								<canvas id="Chart_of_Comment"></canvas>
							</div>
								<script>
									var ctx = document.getElementById("Chart_of_Comment").getContext('2d');
									var pieChart = new Chart(ctx, {
										type: 'doughnut',
										data : {
											labels:['好評數','負評數'],
											datasets: [{
											//預設資料
											data:[{{ data.d_good }},{{ data.e_bad }}],

											backgroundColor: ['#4e73df', '#df4e4e'],
											hoverBackgroundColor: ['#5f82e8', '#e85f5f'],
											hoverBorderColor: "rgba(234, 236, 244, 1)",
											}],
										},
										options: {
											maintainAspectRatio: false,
											tooltips: {
												backgroundColor: "rgb(255,255,255)",
												bodyFontColor: "#858796",
												borderColor: '#dddfeb',
												borderWidth: 1,
												xPadding: 15,
												yPadding: 15,
												displayColors: false,
												caretPadding: 10,
											},
											legend: {
												display: false
											},
											cutoutPercentage: 80,
										},
									});
								</script>
							{% endif %}
							<div class="mt-4 text-center small">
								<span class="mr-2">
									<i class="fas fa-circle text-primary"></i> 好評數
								</span>
								<span class="mr-2">
									<i class="fas fa-circle text-danger"></i> 負評數
								</span>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="row ml-2 mt-4 mb-1">
			  <div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h4 class="h3 mb-0 text-gray-800" style="font-family: 微軟正黑體">時間數據</h4>
			  </div>
			</div>
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-8 col-lg-12 mx-auto">
				<div class="card mb-2">
				<div class="card-body">
				
					<ul id="hot_pills_tab" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="pills-7days-tab" data-toggle="pill" href="#pills-7days" role="tab" aria-controls="pills-7days" aria-selected="true">近7天數據</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-5weeks-tab" data-toggle="pill" href="#pills-5weeks" role="tab" aria-controls="pills-5weeks" aria-selected="false">近5周數據</a>
					  </li>
					</ul>
				</div>
				</div>
				</div>
			</div>
			
			
			
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mx-auto">
					<div class="tab-content mt-2 " id="pills-tabTimeContent">
						<div class="tab-pane fade show active" id="pills-7days" role="tabpanel" aria-labelledby="pills-7days-tab">
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mx-auto">
					<div class="card mb-4 shadow">
						<div class="card-header py-3">
							<h5 class="m-0 font-weight-bold text-primary">文章數</h5>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas class="col-xl-11 col-lg-12 my-1 mx-auto" id="Article_Chart_of_7_Days">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mx-auto">
					<div class="card mb-4 shadow">
						<div class="card-header py-3">
							<h5 class="m-0 font-weight-bold text-primary">討論數</h5>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas class="col-xl-11 col-lg-12 my-1 mx-auto" id="Discussion_Chart_of_7_Days">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mx-auto">
					<div class="card mb-4 shadow">
						<div class="card-header py-3">
							<h5 class="m-0 font-weight-bold text-primary">好壞評價數</h5>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas class="col-xl-11 col-lg-12 my-1 mx-auto" id="GoodorBad_Chart_of_7_Days">
							</div>
						</div>
					</div>
				</div>
			</div>
						</div>
						<div class="tab-pane fade show" id="pills-5weeks" role="tabpanel" aria-labelledby="pills-5weeks-tab">
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mx-auto">
					<div class="card mb-4 shadow">
						<div class="card-header py-3">
							<h5 class="m-0 font-weight-bold text-primary">文章數</h5>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas class="col-xl-11 col-lg-12 my-1 mx-auto" id="Article_Chart_of_5_weeks">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mx-auto">
					<div class="card mb-4 shadow">
						<div class="card-header py-3">
							<h5 class="m-0 font-weight-bold text-primary">討論數</h5>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas class="col-xl-11 col-lg-12 my-1 mx-auto" id="Discussion_Chart_of_5_weeks">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mx-auto">
					<div class="card mb-4 shadow">
						<div class="card-header py-3">
							<h5 class="m-0 font-weight-bold text-primary">好壞評價數</h5>
						</div>
						<div class="card-body">
							<div class="chart-area">
								<canvas class="col-xl-11 col-lg-12 my-1 mx-auto" id="GoodorBad_Chart_of_5_weeks">
							</div>
						</div>
					</div>
				</div>
			</div>
						</div>
					</div>
				</div>
			</div>

			

			


			<div class="row ml-2 mt-4 mb-1">
			  <div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h4 class="h3 mb-0 text-gray-800" style="font-family: 微軟正黑體">其他</h4>
			  </div>
			</div>
			
			<div style="font-family: 微軟正黑體" class="row">
				<div class="col-xl-12 col-lg-12 mb-4">
					<div class="card shadow">
						<div class="card-header py-3">
							<h4 class="m-0 font-weight-bold text-primary">相關文章</h4>
						</div>
						<div class="card-body">
							<table id="article_table" class="table table-hover table-sm" cellspacing="0" width="100%">
								<thead class="">
									<tr>
										<th scope="col">標題</th>
										<th scope="col">時間</th>
										<th scope="col">推</th>
										<th scope="col">噓</th>
									</tr>
								</thead>
								<tbody>
									{% for i in article_for_keyword %}
									<tr>
										<th><a href='https://www.ptt.cc/{{ i.3 }}'>{{ i.0 }}</a></th> 
										<td><p>{{i.2|date:"Y-m-d H:i"}}</p></td>
										<td><p>{{i.5}}</p></td>
										<td><p>{{i.6}}</p></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

							<script>
							$(document).ready(function() {
								$('#article_table').DataTable({  
									language: {
									  "emptyTable": "無資料...",
									  "processing": "處理中...",
									  "loadingRecords": "載入中...",
									  "lengthMenu": "顯示 _MENU_ 項結果",
									  "zeroRecords": "沒有符合的結果",
									  "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
									  "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
									  "infoFiltered": "(從 _MAX_ 項結果中過濾)",
									  "infoPostFix": "",
									  "search": "搜尋:",
									  "paginate": {
										"first": "第一頁",
										"previous": "上一頁",
										"next": "下一頁",
										"last": "最後一頁"
									  },
									  "aria": {
										"sortAscending": ": 升冪排列",
										"sortDescending": ": 降冪排列"
									  }
									}
									,"order": [[ 1, "desc" ]],
									"pagingType": "numbers",
								});
							} );
							</script>
						</div>
					</div>
				</div>
			</div>
			
	<script>
		var a7_Area = document.getElementById("Article_Chart_of_7_Days");
		var a7LineChart = new Chart(a7_Area, {
		  type: 'line',
		  data: {
			labels: {{ label_of_7_days|safe }},
			datasets: [{
			  label: "文章數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(54, 185, 204, 0.05)",
			  borderColor: "rgba(54, 185, 204, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(54, 185, 204, 1)",
			  pointBorderColor: "rgba(54, 185, 204, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(54, 185, 2045, 1)",
			  pointHoverBorderColor: "rgba(54, 185, 204, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ article_of_7_days|safe }},
			}],
		  },
		  options: {
			maintainAspectRatio: false,
			layout: {
			  padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			  }
			},
			scales: {
			  xAxes: [{
				time: {
				  unit: 'date'
				},
				gridLines: {
				  display: false,
				  drawBorder: false
				},
				ticks: {
				  maxTicksLimit: 7
				}
			  }],
			  yAxes: [{
				ticks: {
				  maxTicksLimit: 10,
				  padding: 10,
				  // Include a dollar sign in the ticks
				  callback: function(value, index, values) {
					return '' + number_format(value);
				  }
				},
				gridLines: {
				  color: "rgb(234, 236, 244)",
				  zeroLineColor: "rgb(234, 236, 244)",
				  drawBorder: false,
				  borderDash: [2],
				  zeroLineBorderDash: [2]
				}
			  }],
			},
			legend: {
			  display: false
			},
			tooltips: {
			  backgroundColor: "rgb(255,255,255)",
			  bodyFontColor: "#858796",
			  titleMarginBottom: 10,
			  titleFontColor: '#6e707e',
			  titleFontSize: 14,
			  borderColor: '#dddfeb',
			  borderWidth: 1,
			  xPadding: 15,
			  yPadding: 15,
			  displayColors: false,
			  intersect: false,
			  mode: 'index',
			  caretPadding: 10,
			  callbacks: {
				label: function(tooltipItem, chart) {
				  var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
				  return datasetLabel +' : ' + number_format(tooltipItem.yLabel);
				}
			  }
			}
		  }
		});
		
		var d7_Area = document.getElementById("Discussion_Chart_of_7_Days");
		var d7LineChart = new Chart(d7_Area, {
		  type: 'line',
		  data: {
			labels: {{ label_of_7_days|safe }},
			datasets: [{
			  label: "討論數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(86, 202, 105, 0.05)",
			  borderColor: "rgba(86, 202, 105, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(86, 202, 105, 1)",
			  pointBorderColor: "rgba(86, 202, 105, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(86, 202, 105, 1)",
			  pointHoverBorderColor: "rgba(86, 202, 105, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ discussion_of_7_days|safe }},
			}],
		  },
		  options: {
			maintainAspectRatio: false,
			layout: {
			  padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			  }
			},
			scales: {
			  xAxes: [{
				time: {
				  unit: 'date'
				},
				gridLines: {
				  display: false,
				  drawBorder: false
				},
				ticks: {
				  maxTicksLimit: 7
				}
			  }],
			  yAxes: [{
				ticks: {
				  maxTicksLimit: 10,
				  padding: 10,
				  // Include a dollar sign in the ticks
				  callback: function(value, index, values) {
					return '' + number_format(value);
				  }
				},
				gridLines: {
				  color: "rgb(234, 236, 244)",
				  zeroLineColor: "rgb(234, 236, 244)",
				  drawBorder: false,
				  borderDash: [2],
				  zeroLineBorderDash: [2]
				}
			  }],
			},
			legend: {
			  display: false
			},
			tooltips: {
			  backgroundColor: "rgb(255,255,255)",
			  bodyFontColor: "#858796",
			  titleMarginBottom: 10,
			  titleFontColor: '#6e707e',
			  titleFontSize: 14,
			  borderColor: '#dddfeb',
			  borderWidth: 1,
			  xPadding: 15,
			  yPadding: 15,
			  displayColors: false,
			  intersect: false,
			  mode: 'index',
			  caretPadding: 10,
			  callbacks: {
				label: function(tooltipItem, chart) {
				  var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
				  return datasetLabel +' : ' + number_format(tooltipItem.yLabel);
				}
			  }
			}
		  }
		});
		
		var gb7_Area = document.getElementById("GoodorBad_Chart_of_7_Days");
		var gb7LineChart = new Chart(gb7_Area, {
		  type: 'line',
		  data: {
			labels: {{ label_of_7_days|safe }},
			datasets: [{
			  label: "好評數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(78, 114, 223, 0.05)",
			  borderColor: "rgba(78, 114, 223, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(78, 114, 223, 1)",
			  pointBorderColor: "rgba(78, 114, 223, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(78, 114, 223, 1)",
			  pointHoverBorderColor: "rgba(78, 114, 223, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ good_of_7_days|safe }},
			},
			{
			  label: "負評數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(231, 74, 59, 0.05)",
			  borderColor: "rgba(231, 74, 59, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(231, 74, 59, 1)",
			  pointBorderColor: "rgba(231, 74, 59, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(231, 74, 59, 1)",
			  pointHoverBorderColor: "rgba(231, 74, 59, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ bad_of_7_days|safe }},
			}],
		  },
		  options: {
			maintainAspectRatio: false,
			layout: {
			  padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			  }
			},
			scales: {
			  xAxes: [{
				time: {
				  unit: 'date'
				},
				gridLines: {
				  display: false,
				  drawBorder: false
				},
				ticks: {
				  maxTicksLimit: 7
				}
			  }],
			  yAxes: [{
				ticks: {
				  maxTicksLimit: 10,
				  padding: 10,
				  // Include a dollar sign in the ticks
				  callback: function(value, index, values) {
					return '' + number_format(value);
				  }
				},
				gridLines: {
				  color: "rgb(234, 236, 244)",
				  zeroLineColor: "rgb(234, 236, 244)",
				  drawBorder: false,
				  borderDash: [2],
				  zeroLineBorderDash: [2]
				}
			  }],
			},
			legend: {
			  display: true
			},
			tooltips: {
			  backgroundColor: "rgb(255,255,255)",
			  bodyFontColor: "#858796",
			  titleMarginBottom: 10,
			  titleFontColor: '#6e707e',
			  titleFontSize: 14,
			  borderColor: '#dddfeb',
			  borderWidth: 1,
			  xPadding: 15,
			  yPadding: 15,
			  displayColors: false,
			  intersect: false,
			  caretPadding: 10,
			  callbacks: {

			  }
			}
		  }
		});
		
		var a5_Area = document.getElementById("Article_Chart_of_5_weeks");
		var a5LineChart = new Chart(a5_Area, {
		  type: 'line',
		  data: {
			labels: {{ label_of_5_weeks|safe }},
			datasets: [{
			  label: "文章數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(54, 185, 204, 0.05)",
			  borderColor: "rgba(54, 185, 204, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(54, 185, 204, 1)",
			  pointBorderColor: "rgba(54, 185, 204, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(54, 185, 2045, 1)",
			  pointHoverBorderColor: "rgba(54, 185, 204, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ article_of_5_weeks|safe }},
			}],
		  },
		  options: {
			maintainAspectRatio: false,
			layout: {
			  padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			  }
			},
			scales: {
			  xAxes: [{
				time: {
				  unit: 'date'
				},
				gridLines: {
				  display: false,
				  drawBorder: false
				},
				ticks: {
				  maxTicksLimit: 7
				}
			  }],
			  yAxes: [{
				ticks: {
				  maxTicksLimit: 10,
				  padding: 10,
				  // Include a dollar sign in the ticks
				  callback: function(value, index, values) {
					return '' + number_format(value);
				  }
				},
				gridLines: {
				  color: "rgb(234, 236, 244)",
				  zeroLineColor: "rgb(234, 236, 244)",
				  drawBorder: false,
				  borderDash: [2],
				  zeroLineBorderDash: [2]
				}
			  }],
			},
			legend: {
			  display: false
			},
			tooltips: {
			  backgroundColor: "rgb(255,255,255)",
			  bodyFontColor: "#858796",
			  titleMarginBottom: 10,
			  titleFontColor: '#6e707e',
			  titleFontSize: 14,
			  borderColor: '#dddfeb',
			  borderWidth: 1,
			  xPadding: 15,
			  yPadding: 15,
			  displayColors: false,
			  intersect: false,
			  mode: 'index',
			  caretPadding: 10,
			  callbacks: {
				label: function(tooltipItem, chart) {
				  var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
				  return datasetLabel +' : ' + number_format(tooltipItem.yLabel);
				}
			  }
			}
		  }
		});
		
		var d5_Area = document.getElementById("Discussion_Chart_of_5_weeks");
		var d5LineChart = new Chart(d5_Area, {
		  type: 'line',
		  data: {
			labels: {{ label_of_5_weeks|safe }},
			datasets: [{
			  label: "討論數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(86, 202, 105, 0.05)",
			  borderColor: "rgba(86, 202, 105, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(86, 202, 105, 1)",
			  pointBorderColor: "rgba(86, 202, 105, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(86, 202, 105, 1)",
			  pointHoverBorderColor: "rgba(86, 202, 105, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ discussion_of_5_weeks|safe }},
			}],
		  },
		  options: {
			maintainAspectRatio: false,
			layout: {
			  padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			  }
			},
			scales: {
			  xAxes: [{
				time: {
				  unit: 'date'
				},
				gridLines: {
				  display: false,
				  drawBorder: false
				},
				ticks: {
				  maxTicksLimit: 7
				}
			  }],
			  yAxes: [{
				ticks: {
				  maxTicksLimit: 10,
				  padding: 10,
				  // Include a dollar sign in the ticks
				  callback: function(value, index, values) {
					return '' + number_format(value);
				  }
				},
				gridLines: {
				  color: "rgb(234, 236, 244)",
				  zeroLineColor: "rgb(234, 236, 244)",
				  drawBorder: false,
				  borderDash: [2],
				  zeroLineBorderDash: [2]
				}
			  }],
			},
			legend: {
			  display: false
			},
			tooltips: {
			  backgroundColor: "rgb(255,255,255)",
			  bodyFontColor: "#858796",
			  titleMarginBottom: 10,
			  titleFontColor: '#6e707e',
			  titleFontSize: 14,
			  borderColor: '#dddfeb',
			  borderWidth: 1,
			  xPadding: 15,
			  yPadding: 15,
			  displayColors: false,
			  intersect: false,
			  mode: 'index',
			  caretPadding: 10,
			  callbacks: {
				label: function(tooltipItem, chart) {
				  var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
				  return datasetLabel +' : ' + number_format(tooltipItem.yLabel);
				}
			  }
			}
		  }
		});
		
		var gb5_Area = document.getElementById("GoodorBad_Chart_of_5_weeks");
		var gb5LineChart = new Chart(gb5_Area, {
		  type: 'line',
		  data: {
			labels: {{ label_of_5_weeks|safe }},
			datasets: [{
			  label: "好評數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(78, 114, 223, 0.05)",
			  borderColor: "rgba(78, 114, 223, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(78, 114, 223, 1)",
			  pointBorderColor: "rgba(78, 114, 223, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(78, 114, 223, 1)",
			  pointHoverBorderColor: "rgba(78, 114, 223, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ good_of_5_weeks|safe }},
			},
			{
			  label: "負評數",
			  lineTension: 0.3,
			  backgroundColor: "rgba(231, 74, 59, 0.05)",
			  borderColor: "rgba(231, 74, 59, 1)",
			  pointRadius: 3,
			  pointBackgroundColor: "rgba(231, 74, 59, 1)",
			  pointBorderColor: "rgba(231, 74, 59, 1)",
			  pointHoverRadius: 3,
			  pointHoverBackgroundColor: "rgba(231, 74, 59, 1)",
			  pointHoverBorderColor: "rgba(231, 74, 59, 1)",
			  pointHitRadius: 10,
			  pointBorderWidth: 2,
			  data: {{ bad_of_5_weeks|safe }},
			}],
		  },
		  options: {
			maintainAspectRatio: false,
			layout: {
			  padding: {
				left: 10,
				right: 25,
				top: 25,
				bottom: 0
			  }
			},
			scales: {
			  xAxes: [{
				time: {
				  unit: 'date'
				},
				gridLines: {
				  display: false,
				  drawBorder: false
				},
				ticks: {
				  maxTicksLimit: 7
				}
			  }],
			  yAxes: [{
				ticks: {
				  maxTicksLimit: 10,
				  padding: 10,
				  // Include a dollar sign in the ticks
				  callback: function(value, index, values) {
					return '' + number_format(value);
				  }
				},
				gridLines: {
				  color: "rgb(234, 236, 244)",
				  zeroLineColor: "rgb(234, 236, 244)",
				  drawBorder: false,
				  borderDash: [2],
				  zeroLineBorderDash: [2]
				}
			  }],
			},
			legend: {
			  display: true
			},
			tooltips: {
			  backgroundColor: "rgb(255,255,255)",
			  bodyFontColor: "#858796",
			  titleMarginBottom: 10,
			  titleFontColor: '#6e707e',
			  titleFontSize: 14,
			  borderColor: '#dddfeb',
			  borderWidth: 1,
			  xPadding: 15,
			  yPadding: 15,
			  displayColors: false,
			  intersect: false,
			  caretPadding: 10,
			  callbacks: {

			  }
			}
		  }
		});
	</script>

{% endblock %}