<!-- index.html-->
{% extends 'ptt_movie/base.html' %}
{% load crispy_forms_tags %}
{% block title %} 電影評比篩選 - 電影溫度計{% endblock %}
{% block head %}{% endblock %}
{% block page_heading %}
		<div class="col-xl-11 col-md-12 mx-auto">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h4 class="h3 mb-0 text-gray-800" style="font-family: 微軟正黑體">電影評比篩選</h4>
          </div>
		</div>
{% endblock %}
{% block content %}
				<div class="col-xl-11 col-md-12 mx-auto" style="font-family: 微軟正黑體">
					<!--
					<h3 style="font-family: 微軟正黑體">
						  歡迎來到電影溫度計
					</h3>-->
					<!--
					<h4 class="mt-3">近1週<h4>
					<hr class="mt-0 mb-4">
					<div class='ml-3'>
						<ul>
							<li><h5 class="mt-3">極好評電影<h5></li>
							<li><h5 class="mt-3">好評電影<h5></li>
						<ul>
					</div>
					
					<h4 class="mt-5">近1月<h4>
					<hr class="mt-0 mb-4">
					<div class='ml-3'>
						<ul>
							<li><h5 class="mt-3">極好評電影<h5></li>
							<li><h5 class="mt-3">好評電影<h5></li>
						<ul>
					</div>-->
					<ul id="rank_pills_tab" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="pills-this_week_tab" data-toggle="pill" href="#pills-this_week" role="tab" aria-controls="pills-this_week" aria-selected="true">這一週</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-last_week_tab" data-toggle="pill" href="#pills-last_week" role="tab" aria-controls="pills-last_week" aria-selected="false">上一週</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-this_month_tab" data-toggle="pill" href="#pills-this_month" role="tab" aria-controls="pills-this_month" aria-selected="false">這個月</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-last_month_tab" data-toggle="pill" href="#pills-last_month" role="tab" aria-controls="pills-last_month" aria-selected="false">上個月</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-all_tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="false">總體</a>
					</ul>
					<div class="tab-content mt-2 mb-5" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-this_week" role="tabpanel" aria-labelledby="pills-this_week_tab">
						
							<ul id="rank_pills_this_week_tab" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
								<li class="nav-item pill-success">
									<a class="nav-link active" id="pills-this_week_better_tab" data-toggle="pill" href="#pills-this_week_better" role="tab" aria-controls="pills-this_week_better" aria-selected="true">極好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_week_good_tab" data-toggle="pill" href="#pills-this_week_good" role="tab" aria-controls="pills-this_week_good" aria-selected="false">好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_week_ordinary_tab" data-toggle="pill" href="#pills-this_week_ordinary" role="tab" aria-controls="pills-this_week_ordinary" aria-selected="false">普評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_week_bad_tab" data-toggle="pill" href="#pills-this_week_bad" role="tab" aria-controls="pills-this_week_bad" aria-selected="false">負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_week_worse_tab" data-toggle="pill" href="#pills-this_week_worse" role="tab" aria-controls="pills-this_week_worse" aria-selected="false">極負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_week_insufficient_tab" data-toggle="pill" href="#pills-this_week_insufficient" role="tab" aria-controls="pills-this_week_insufficient" aria-selected="false">尚未分類</a>
								</li>
							</ul>
							
							<div class="tab-content" id="pills-this_week_tabContent">
								<hr class="mt-3 mb-4">
								<div class="tab-pane fade show active" id="pills-this_week_better" role="tabpanel" aria-labelledby="pills-this_week_better_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這一週 極好評電影 (共{{ better_keywords_this_week_len }}筆)</h5>
										</div>
										<div id="better_this_week" class="card-body mb-1">
											<div class=''>
												<table id="better_keywords_this_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for better_keywords_data in better_keywords_this_week_datas %}
															<tr>
																<td><a href='/keyword/{{better_keywords_data.name}}'>{{ better_keywords_data.name }}</a></td>
																<td>{{ better_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_week_good" role="tabpanel" aria-labelledby="pills-this_week_good_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這一週 好評電影 (共{{ good_keywords_this_week_len }}筆) </h5>
										</div>
										<div id="good_this_week" class="card-body mb-1">
											<div class=''>
												<table id="good_keywords_this_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
													</thead>
													<tbody>
														{% for good_keywords_data in good_keywords_this_week_datas %}
														<tr>
															<td><a href='/keyword/{{good_keywords_data}}'>{{ good_keywords_data }}</a></td>
															<td>{{ good_keywords_data.score}}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_week_ordinary" role="tabpanel" aria-labelledby="pills-this_week_ordinary_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這一週 普評電影 (共{{ ordinary_keywords_this_week_len }}筆)</h5>
										</div>
										<div id="ordinary_this_week" class="card-body mb-1">
											<div class=''>
												<table id="ordinary_keywords_this_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for ordinary_keywords_data in ordinary_keywords_this_week_datas %}
															<tr>
																<td><a href='/keyword/{{ordinary_keywords_data}}'>{{ ordinary_keywords_data }}</a></td>
																<td>{{ ordinary_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_week_bad" role="tabpanel" aria-labelledby="pills-this_week_bad_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這一週 負評電影 (共{{ bad_keywords_this_week_len }}筆)</h5>
										</div>
										<div id="bad_this_week" class="card-body mb-1">
											<div class=''>
												<table id="bad_keywords_this_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for bad_keywords_data in bad_keywords_this_week_datas %}
															<tr>
																<td><a href='/keyword/{{bad_keywords_data}}'>{{ bad_keywords_data }}</a></td>
																<td>{{ bad_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>	
								</div>
								<div class="tab-pane fade" id="pills-this_week_worse" role="tabpanel" aria-labelledby="pills-this_week_worse_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這一週 極負評電影 (共{{ worse_keywords_this_week_len }}筆)</h5>
										</div>
										<div id="worse_this_week" class="card-body mb-1 ">
											<div class=''>
												<table id="worse_keywords_this_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for worse_keywords_data in worse_keywords_this_week_datas %}
															<tr>
																<td><a href='/keyword/{{worse_keywords_data}}'>{{ worse_keywords_data }}</a></td>
																<td>{{ worse_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_week_insufficient" role="tabpanel" aria-labelledby="pills-this_week_insufficient_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這一週 尚未分類 (共{{ insufficient_keywords_this_week_len }}筆)</h5>
										</div>
										<div id="insufficient_this_week" class="card-body mb-1">
											<div class=''>
												<table id="insufficient_keywords_this_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
														</tr>
														</thead>
														<tbody>
														{% for insufficient_keywords_data in insufficient_keywords_this_week_datas %}
															<tr>
																<td><a href='/keyword/{{insufficient_keywords_data}}'>{{ insufficient_keywords_data }}</a></td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="pills-last_week" role="tabpanel" aria-labelledby="pills-last_week_tab">
							<ul id="rank_pills_last_week_tab" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
								<li class="nav-item pill-success">
									<a class="nav-link active" id="pills-last_week_better_tab" data-toggle="pill" href="#pills-last_week_better" role="tab" aria-controls="pills-last_week_better" aria-selected="true">極好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link pill-success" id="pills-last_week_good_tab" data-toggle="pill" href="#pills-last_week_good" role="tab" aria-controls="pills-last_week_good" aria-selected="false">好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link pill-success" id="pills-last_week_ordinary_tab" data-toggle="pill" href="#pills-last_week_ordinary" role="tab" aria-controls="pills-last_week_ordinary" aria-selected="false">普評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link pill-success" id="pills-last_week_bad_tab" data-toggle="pill" href="#pills-last_week_bad" role="tab" aria-controls="pills-last_week_bad" aria-selected="false">負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link pill-success" id="pills-last_week_worse_tab" data-toggle="pill" href="#pills-last_week_worse" role="tab" aria-controls="pills-last_week_worse" aria-selected="false">極負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link pill-success" id="pills-last_week_insufficient_tab" data-toggle="pill" href="#pills-last_week_insufficient" role="tab" aria-controls="pills-last_week_insufficient" aria-selected="false">尚未分類</a>
								</li>
							</ul>
							
							<div class="tab-content" id="pills-last_week_tabContent">
								<hr class="mt-3 mb-4">
								<div class="tab-pane fade show active" id="pills-last_week_better" role="tabpanel" aria-labelledby="pills-last_week_better_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上一週 極好評電影 (共{{ better_keywords_last_week_len }}筆)</h5>
										</div>
										<div id="better_last_week" class="card-body mb-1">
											<div class=''>
												<table id="better_keywords_last_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for better_keywords_data in better_keywords_last_week_datas %}
															<tr>
																<td><a href='/keyword/{{better_keywords_data.name}}'>{{ better_keywords_data.name }}</a></td>
																<td>{{ better_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_week_good" role="tabpanel" aria-labelledby="pills-last_week_good_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上一週 好評電影 (共{{ good_keywords_last_week_len }}筆) </h5>
										</div>
										<div id="good_last_week" class="card-body mb-1">
											<div class=''>
												<table id="good_keywords_last_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
													</thead>
													<tbody>
														{% for good_keywords_data in good_keywords_last_week_datas %}
														<tr>
															<td><a href='/keyword/{{good_keywords_data}}'>{{ good_keywords_data }}</a></td>
															<td>{{ good_keywords_data.score}}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_week_ordinary" role="tabpanel" aria-labelledby="pills-last_week_ordinary_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上一週 普評電影 (共{{ ordinary_keywords_last_week_len }}筆)</h5>
										</div>
										<div id="ordinary_last_week" class="card-body mb-1">
											<div class=''>
												<table id="ordinary_keywords_last_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for ordinary_keywords_data in ordinary_keywords_last_week_datas %}
															<tr>
																<td><a href='/keyword/{{ordinary_keywords_data}}'>{{ ordinary_keywords_data }}</a></td>
																<td>{{ ordinary_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_week_bad" role="tabpanel" aria-labelledby="pills-last_week_bad_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上一週 負評電影 (共{{ bad_keywords_last_week_len }}筆)</h5>
										</div>
										<div id="bad_last_week" class="card-body mb-1">
											<div class=''>
												<table id="bad_keywords_last_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for bad_keywords_data in bad_keywords_last_week_datas %}
															<tr>
																<td><a href='/keyword/{{bad_keywords_data}}'>{{ bad_keywords_data }}</a></td>
																<td>{{ bad_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>	
								</div>
								<div class="tab-pane fade" id="pills-last_week_worse" role="tabpanel" aria-labelledby="pills-last_week_worse_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上一週 極負評電影 (共{{ worse_keywords_last_week_len }}筆)</h5>
										</div>
										<div id="worse_last_week" class="card-body mb-1 ">
											<div class=''>
												<table id="worse_keywords_last_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for worse_keywords_data in worse_keywords_last_week_datas %}
															<tr>
																<td><a href='/keyword/{{worse_keywords_data}}'>{{ worse_keywords_data }}</a></td>
																<td>{{ worse_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_week_insufficient" role="tabpanel" aria-labelledby="pills-last_week_insufficient_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上一週 尚未分類 (共{{ insufficient_keywords_last_week_len }}筆)</h5>
										</div>
										<div id="insufficient_last_week" class="card-body mb-1">
											<div class=''>
												<table id="insufficient_keywords_last_week_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
														</tr>
														</thead>
														<tbody>
														{% for insufficient_keywords_data in insufficient_keywords_last_week_datas %}
															<tr>
																<td><a href='/keyword/{{insufficient_keywords_data}}'>{{ insufficient_keywords_data }}</a></td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="pills-this_month" role="tabpanel" aria-labelledby="pills-this_month_tab">
							<ul id="rank_pills_this_month_tab" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
								<li class="nav-item pill-success">
									<a class="nav-link active" id="pills-this_month_better_tab" data-toggle="pill" href="#pills-this_month_better" role="tab" aria-controls="pills-this_month_better" aria-selected="true">極好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_month_good_tab" data-toggle="pill" href="#pills-this_month_good" role="tab" aria-controls="pills-this_month_good" aria-selected="false">好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_month_ordinary_tab" data-toggle="pill" href="#pills-this_month_ordinary" role="tab" aria-controls="pills-this_month_ordinary" aria-selected="false">普評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_month_bad_tab" data-toggle="pill" href="#pills-this_month_bad" role="tab" aria-controls="pills-this_month_bad" aria-selected="false">負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_month_worse_tab" data-toggle="pill" href="#pills-this_month_worse" role="tab" aria-controls="pills-this_month_worse" aria-selected="false">極負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-this_month_insufficient_tab" data-toggle="pill" href="#pills-this_month_insufficient" role="tab" aria-controls="pills-this_month_insufficient" aria-selected="false">尚未分類</a>
								</li>
							</ul>
							
							<div class="tab-content" id="pills-this_month_tabContent">
								<hr class="mt-3 mb-4">
								<div class="tab-pane fade show active" id="pills-this_month_better" role="tabpanel" aria-labelledby="pills-this_month_better_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這個月 極好評電影 (共{{ better_keywords_this_month_len }}筆)</h5>
										</div>
										<div id="better_this_month" class="card-body mb-1">
											<div class=''>
												<table id="better_keywords_this_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for better_keywords_data in better_keywords_this_month_datas %}
															<tr>
																<td><a href='/keyword/{{better_keywords_data.name}}'>{{ better_keywords_data.name }}</a></td>
																<td>{{ better_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_month_good" role="tabpanel" aria-labelledby="pills-this_month_good_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這個月 好評電影 (共{{ good_keywords_this_month_len }}筆) </h5>
										</div>
										<div id="good_this_month" class="card-body mb-1">
											<div class=''>
												<table id="good_keywords_this_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
													</thead>
													<tbody>
														{% for good_keywords_data in good_keywords_this_month_datas %}
														<tr>
															<td><a href='/keyword/{{good_keywords_data}}'>{{ good_keywords_data }}</a></td>
															<td>{{ good_keywords_data.score}}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_month_ordinary" role="tabpanel" aria-labelledby="pills-this_month_ordinary_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這個月 普評電影 (共{{ ordinary_keywords_this_month_len }}筆)</h5>
										</div>
										<div id="ordinary_this_month" class="card-body mb-1">
											<div class=''>
												<table id="ordinary_keywords_this_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for ordinary_keywords_data in ordinary_keywords_this_month_datas %}
															<tr>
																<td><a href='/keyword/{{ordinary_keywords_data}}'>{{ ordinary_keywords_data }}</a></td>
																<td>{{ ordinary_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_month_bad" role="tabpanel" aria-labelledby="pills-this_month_bad_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這個月 負評電影 (共{{ bad_keywords_this_month_len }}筆)</h5>
										</div>
										<div id="bad_this_month" class="card-body mb-1">
											<div class=''>
												<table id="bad_keywords_this_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for bad_keywords_data in bad_keywords_this_month_datas %}
															<tr>
																<td><a href='/keyword/{{bad_keywords_data}}'>{{ bad_keywords_data }}</a></td>
																<td>{{ bad_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>	
								</div>
								<div class="tab-pane fade" id="pills-this_month_worse" role="tabpanel" aria-labelledby="pills-this_month_worse_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這個月 極負評電影 (共{{ worse_keywords_this_month_len }}筆)</h5>
										</div>
										<div id="worse_this_month" class="card-body mb-1 ">
											<div class=''>
												<table id="worse_keywords_this_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for worse_keywords_data in worse_keywords_this_month_datas %}
															<tr>
																<td><a href='/keyword/{{worse_keywords_data}}'>{{ worse_keywords_data }}</a></td>
																<td>{{ worse_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-this_month_insufficient" role="tabpanel" aria-labelledby="pills-this_month_insufficient_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">這個月 尚未分類 (共{{ insufficient_keywords_this_month_len }}筆)</h5>
										</div>
										<div id="insufficient_this_month" class="card-body mb-1">
											<div class=''>
												<table id="insufficient_keywords_this_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
														</tr>
														</thead>
														<tbody>
														{% for insufficient_keywords_data in insufficient_keywords_this_month_datas %}
															<tr>
																<td><a href='/keyword/{{insufficient_keywords_data}}'>{{ insufficient_keywords_data }}</a></td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					
						<div class="tab-pane fade" id="pills-last_month" role="tabpanel" aria-labelledby="pills-last_month_tab">
							<ul id="rank_pills_last_month_tab" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
								<li class="nav-item pill-success">
									<a class="nav-link active" id="pills-last_month_better_tab" data-toggle="pill" href="#pills-last_month_better" role="tab" aria-controls="pills-last_month_better" aria-selected="true">極好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-last_month_good_tab" data-toggle="pill" href="#pills-last_month_good" role="tab" aria-controls="pills-last_month_good" aria-selected="false">好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-last_month_ordinary_tab" data-toggle="pill" href="#pills-last_month_ordinary" role="tab" aria-controls="pills-last_month_ordinary" aria-selected="false">普評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-last_month_bad_tab" data-toggle="pill" href="#pills-last_month_bad" role="tab" aria-controls="pills-last_month_bad" aria-selected="false">負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-last_month_worse_tab" data-toggle="pill" href="#pills-last_month_worse" role="tab" aria-controls="pills-last_month_worse" aria-selected="false">極負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-last_month_insufficient_tab" data-toggle="pill" href="#pills-last_month_insufficient" role="tab" aria-controls="pills-last_month_insufficient" aria-selected="false">尚未分類</a>
								</li>
							</ul>
							
							<div class="tab-content" id="pills-last_month_tabContent">
								<hr class="mt-3 mb-4">
								<div class="tab-pane fade show active" id="pills-last_month_better" role="tabpanel" aria-labelledby="pills-last_month_better_tab">
									<div class="card shadow">						
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上個月 極好評電影 (共{{ better_keywords_last_month_len }}筆)</h5>
										</div>
										<div id="better_last_month" class="card-body mb-1">
											<div class=''>
												<table id="better_keywords_last_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for better_keywords_data in better_keywords_last_month_datas %}
															<tr>
																<td><a href='/keyword/{{better_keywords_data.name}}'>{{ better_keywords_data.name }}</a></td>
																<td>{{ better_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_month_good" role="tabpanel" aria-labelledby="pills-last_month_good_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上個月 好評電影 (共{{ good_keywords_last_month_len }}筆) </h5>
										</div>
										<div id="good_last_month" class="card-body mb-1">
											<div class=''>
												<table id="good_keywords_last_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
													</thead>
													<tbody>
														{% for good_keywords_data in good_keywords_last_month_datas %}
														<tr>
															<td><a href='/keyword/{{good_keywords_data}}'>{{ good_keywords_data }}</a></td>
															<td>{{ good_keywords_data.score}}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_month_ordinary" role="tabpanel" aria-labelledby="pills-last_month_ordinary_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上個月 普評電影 (共{{ ordinary_keywords_last_month_len }}筆)</h5>
										</div>
										<div id="ordinary_last_month" class="card-body mb-1">
											<div class=''>
												<table id="ordinary_keywords_last_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for ordinary_keywords_data in ordinary_keywords_last_month_datas %}
															<tr>
																<td><a href='/keyword/{{ordinary_keywords_data}}'>{{ ordinary_keywords_data }}</a></td>
																<td>{{ ordinary_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_month_bad" role="tabpanel" aria-labelledby="pills-last_month_bad_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上個月 負評電影 (共{{ bad_keywords_last_month_len }}筆)</h5>
										</div>
										<div id="bad_last_month" class="card-body mb-1">
											<div class=''>
												<table id="bad_keywords_last_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for bad_keywords_data in bad_keywords_last_month_datas %}
															<tr>
																<td><a href='/keyword/{{bad_keywords_data}}'>{{ bad_keywords_data }}</a></td>
																<td>{{ bad_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>	
								</div>
								<div class="tab-pane fade" id="pills-last_month_worse" role="tabpanel" aria-labelledby="pills-last_month_worse_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上個月 極負評電影 (共{{ worse_keywords_last_month_len }}筆)</h5>
										</div>
										<div id="worse_last_month" class="card-body mb-1">
											<div class=''>
												<table id="worse_keywords_last_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for worse_keywords_data in worse_keywords_last_month_datas %}
															<tr>
																<td><a href='/keyword/{{worse_keywords_data}}'>{{ worse_keywords_data }}</a></td>
																<td>{{ worse_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-last_month_insufficient" role="tabpanel" aria-labelledby="pills-last_month_insufficient_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">上個月 尚未分類 (共{{ insufficient_keywords_last_month_len }}筆)</h5>
										</div>
										<div id="insufficient_last_month" class="card-body mb-5">
											<div class=''>
												<table id="insufficient_keywords_last_month_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
														</tr>
														</thead>
														<tbody>
														{% for insufficient_keywords_data in insufficient_keywords_last_month_datas %}
															<tr>
																<td><a href='/keyword/{{insufficient_keywords_data}}'>{{ insufficient_keywords_data }}</a></td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					
						<div class="tab-pane fade" id="pills-all" role="tabpanel" aria-labelledby="pills-all_tab">
							<ul id="rank_pills_last_month_tab" class="nav nav-pills nav-fill flex-column flex-sm-row" role="tablist">
								<li class="nav-item pill-success">
									<a class="nav-link active" id="pills-all_better_tab" data-toggle="pill" href="#pills-all_better" role="tab" aria-controls="pills-all_better" aria-selected="true">極好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-all_good_tab" data-toggle="pill" href="#pills-all_good" role="tab" aria-controls="pills-all_good" aria-selected="false">好評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-all_ordinary_tab" data-toggle="pill" href="#pills-all_ordinary" role="tab" aria-controls="pills-all_ordinary" aria-selected="false">普評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-all_bad_tab" data-toggle="pill" href="#pills-all_bad" role="tab" aria-controls="pills-all_bad" aria-selected="false">負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-all_worse_tab" data-toggle="pill" href="#pills-all_worse" role="tab" aria-controls="pills-all_worse" aria-selected="false">極負評</a>
								</li>
								<li class="nav-item pill-success">
									<a class="nav-link" id="pills-all_insufficient_tab" data-toggle="pill" href="#pills-all_insufficient" role="tab" aria-controls="pills-all_insufficient" aria-selected="false">尚未分類</a>
								</li>
							</ul>
							
							<div class="tab-content" id="pills-all_tabContent">
							<hr class="mt-3 mb-4">
								<div class="tab-pane fade show active" id="pills-all_better" role="tabpanel" aria-labelledby="pills-all_better_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">總體 極好評電影 (共{{ better_keywords_all_len }}筆)</h5>
										</div>
										<div id="better_all" class="card-body mb-1">
											<div class=''>
												<table id="better_keywords_all_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for better_keywords_data in better_keywords_all_datas %}
															<tr>
																<td><a href='/keyword/{{better_keywords_data.name}}'>{{ better_keywords_data.name }}</a></td>
																<td>{{ better_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-all_good" role="tabpanel" aria-labelledby="pills-all_good_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">總體 好評電影 (共{{ good_keywords_all_len }}筆) </h5>
										</div>
										<div id="good_all" class="card-body mb-1">
											<div class=''>
												<table id="good_keywords_all_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
													</thead>
													<tbody>
														{% for good_keywords_data in good_keywords_all_datas %}
														<tr>
															<td><a href='/keyword/{{good_keywords_data}}'>{{ good_keywords_data }}</a></td>
															<td>{{ good_keywords_data.score}}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-all_ordinary" role="tabpanel" aria-labelledby="pills-all_ordinary_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">總體 普評電影 (共{{ ordinary_keywords_all_len }}筆)</h5>
										</div>
										<div id="ordinary_all" class="card-body mb-1">
											<div class=''>
												<table id="ordinary_keywords_all_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for ordinary_keywords_data in ordinary_keywords_all_datas %}
															<tr>
																<td><a href='/keyword/{{ordinary_keywords_data}}'>{{ ordinary_keywords_data }}</a></td>
																<td>{{ ordinary_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-all_bad" role="tabpanel" aria-labelledby="pills-all_bad_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">總體 負評電影 (共{{ bad_keywords_all_len }}筆)</h5>
										</div>
										<div id="bad_all" class="card-body mb-1">
											<div class=''>
												<table id="bad_keywords_all_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for bad_keywords_data in bad_keywords_all_datas %}
															<tr>
																<td><a href='/keyword/{{bad_keywords_data}}'>{{ bad_keywords_data }}</a></td>
																<td>{{ bad_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>	
								</div>
								<div class="tab-pane fade" id="pills-all_worse" role="tabpanel" aria-labelledby="pills-all_worse_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">總體 極負評電影 (共{{ worse_keywords_all_len }}筆)</h5>
										</div>
										<div id="worse_all" class="card-body mb-1">
											<div class=''>
												<table id="worse_keywords_all_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
															<th>評比分</th>
														</tr>
														</thead>
														<tbody>
														{% for worse_keywords_data in worse_keywords_all_datas %}
															<tr>
																<td><a href='/keyword/{{worse_keywords_data}}'>{{ worse_keywords_data }}</a></td>
																<td>{{ worse_keywords_data.score}}</td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-all_insufficient" role="tabpanel" aria-labelledby="pills-all_insufficient_tab">
									<div class="card shadow">
										<div class="card-header py-3">
											<h5 class="m-0 font-weight-bold text-primary">總體 尚未分類 (共{{ insufficient_keywords_all_len }}筆)</h5>
										</div>
										<div id="insufficient_all" class="card-body mb-1">
											<div class=''>
												<table id="insufficient_keywords_all_table" class="table table-hover table-sm" cellspacing="" width="100%">
													<thead class="">
														<tr>
															<th>關鍵字名稱</th>
														</tr>
														</thead>
														<tbody>
														{% for insufficient_keywords_data in insufficient_keywords_all_datas %}
															<tr>
																<td><a href='/keyword/{{insufficient_keywords_data}}'>{{ insufficient_keywords_data }}</a></td>
															</tr>
														{% endfor %}
														</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<script>
					var set_table_0 = {  
							language: {
								"emptyTable": "無資料...",
								"processing": "處理中...",
								"loadingRecords": "載入中...",
								"lengthMenu": "顯示 _MENU_ 項結果",
								"zeroRecords": "沒有符合的結果",
								"info": "第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
								"infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
								"infoFiltered": "(從 _MAX_ 項結果中過濾)",
								"infoPostFix": "",
								"search": "搜尋:",
								"paginate": {
									"first": "第一頁",
									"previous": "上一頁",
									"next": "下一頁",
									"last": "最後一頁"
								},
								"aria": {
									"sortAscending": ": 升冪排列",
									"sortDescending": ": 降冪排列"
								}
							},
							"searching" : false,
							"order": [[ 1, "desc" ]],
							"info": false,
							"infoEmpty": false,
							"lengthChange": false,
					};
					
					var set_table_1 = {  
							language: {
								"emptyTable": "無資料...",
								"processing": "處理中...",
								"loadingRecords": "載入中...",
								"lengthMenu": "顯示 _MENU_ 項結果",
								"zeroRecords": "沒有符合的結果",
								"info": "第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
								"infoEmpty": "",
								//"infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
								"infoFiltered": "(從 _MAX_ 項結果中過濾)",
								"infoPostFix": "",
								"search": "搜尋:",
								"paginate": {
									"first": "第一頁",
									"previous": "上一頁",
									"next": "下一頁",
									"last": "最後一頁"
								},
								"aria": {
									"sortAscending": ": 升冪排列",
									"sortDescending": ": 降冪排列"
								}
							},
							"searching" : false,
							"info": false,
							"infoEmpty": false,
							"lengthChange": false,
							rowReorder: {
								selector: 'td:nth-child(2)'
								},
							responsive: true,
					};
					
					$(document).ready(function() {
						$('#better_keywords_this_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#good_keywords_this_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#ordinary_keywords_this_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#bad_keywords_this_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#worse_keywords_this_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#insufficient_keywords_this_week_table').DataTable(set_table_1);
					});
					
					$(document).ready(function() {
						$('#better_keywords_last_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#good_keywords_last_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#ordinary_keywords_last_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#bad_keywords_last_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#worse_keywords_last_week_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#insufficient_keywords_last_week_table').DataTable(set_table_1);
					});
					
					$(document).ready(function() {
						$('#better_keywords_this_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#good_keywords_this_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#ordinary_keywords_this_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#bad_keywords_this_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#worse_keywords_this_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#insufficient_keywords_this_month_table').DataTable(set_table_1);
					});
					
					$(document).ready(function() {
						$('#better_keywords_last_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#good_keywords_last_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#ordinary_keywords_last_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#bad_keywords_last_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#worse_keywords_last_month_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#insufficient_keywords_last_month_table').DataTable(set_table_1);
					});
					
					$(document).ready(function() {
						$('#better_keywords_all_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#good_keywords_all_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#ordinary_keywords_all_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#bad_keywords_all_table').DataTable(set_table_0);
					});					
					$(document).ready(function() {
						$('#worse_keywords_all_table').DataTable(set_table_0);
					});
					$(document).ready(function() {
						$('#insufficient_keywords_all_table').DataTable(set_table_1);
					});
					
	
				</script>
{% endblock %}