{% extends 'ptt_movie/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{type_name}}查詢 - Ptt電影溫度計 {% endblock %}
{% block headmessage %}
	<h4 style="font-family: 微軟正黑體">{{type_name}}查詢 - {{ movie_name }}</h4>
{% endblock %}
{% block content %}
				<div class='col-10 ml-3'>
				<!--
					<h4 class="mt-3">Movie - {{ movie_name }}</h4>
					<hr class="mt-0 mb-4">
					{% for i in data %}
						<div>
							{{ forloop.counter }}: {{i}} 
						</div>
					{% endfor %}
					<br>
					-->
					{% if output_label %}
					<h4 class="mt-3">Article - {{ movie_name }}</h4>
					<hr class="mt-0 mb-4">
					<canvas id="Article_Chart" width="200" height="100"></canvas>
					<script>
						var ctx = document.getElementById("Article_Chart");
						var myChart = new Chart(ctx, {
							type: 'line',
							data: {
								labels: {{ output_label|safe }}, // 換成自己的labels
								datasets: [{
									label: '{{ movie_name }}', 
									data: {{ article_data|safe }}, // 換成自己的data
									backgroundColor: [

										'rgba(255, 159, 64, 0.2)'
									],
									borderColor: [

										'rgba(255, 159, 64, 1)'
									],
									borderWidth: 1
								}]
							},
							options: {
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero:true
										}
									}]
								}
							}
						});
					</script>
					<br>
					
					<h4 class="mt-3">Discussion - {{ movie_name }}</h4>
					<hr class="mt-0 mb-4">
					<canvas id="Discussion_Chart" width="200" height="100"></canvas>
					<script>
						var ctx = document.getElementById("Discussion_Chart");
						var myChart = new Chart(ctx, {
							type: 'line',
							data: {
								labels: {{ output_label|safe }}, // 換成自己的labels
								datasets: [{
									label: '{{ movie_name }}', 
									data: {{ discussion_data|safe }}, // 換成自己的data
									backgroundColor: [

										'rgba(255, 159, 64, 0.2)'
									],
									borderColor: [

										'rgba(255, 159, 64, 1)'
									],
									borderWidth: 1
								}]
							},
							options: {
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero:true
										}
									}]
								}
							}
						});
					</script>
					<br>
					<h4 class="mt-3">Good or Bad - {{ movie_name }}</h4>
					<hr class="mt-0 mb-4">
					<canvas id="GoodorBad_Chart" width="200" height="100"></canvas>
					<script>
						var ctx = document.getElementById("GoodorBad_Chart");
						var myChart = new Chart(ctx, {
							type: 'line',
							data: {
								labels: {{ output_label|safe }}, // 換成自己的labels
								datasets: [{
									label: 'good', 
									data: {{ good_data|safe }}, // 換成自己的data
									backgroundColor: [

										'rgba(149, 199, 243, 0.2)'
									],
									borderColor: [

										'rgba(149, 199, 243, 1)'
									],
									borderWidth: 1
								},{
									label: 'bad', 
									data: {{ bad_data|safe }}, // 換成自己的data
									backgroundColor: [

										'rgba(255, 129, 64, 0.2)'
									],
									borderColor: [

										'rgba(255, 109, 64, 1)'
									],
									borderWidth: 1
								}]
							},
							options: {
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero:true
										}
									}]
								}
							}
						});
					</script>
					{% else %}
					{% endif %}
				</div>
{% endblock %}